{% extends "base.html" %}

{% block content %}

<h2 class="mb-3">All Students</h2>

<a href="/student/create" class="btn btn-primary mb-3">
    Add New Student
</a>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<table class="table table-bordered table-striped">

<thead class="table-dark">
<tr>
<th>ID</th>
<th>First Name</th>
<th>Last Name</th>
<th>Email</th>
<th>Actions</th>
</tr>
</thead>

<tbody>

{% for s in students %}
<tr>
<td>{{ s.id }}</td>
<td>{{ s.first_name }}</td>
<td>{{ s.last_name }}</td>
<td>{{ s.email }}</td>
<td>
<a href="/student/update/{{ s.id }}" class="btn btn-warning btn-sm">Edit</a>
<a href="/student/delete/{{ s.id }}" class="btn btn-danger btn-sm">Delete</a>
</td>
</tr>
{% endfor %}

</tbody>

</table>

{% endblock %}